*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Questrial;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: antiquewhite; */
    padding-top: 0.5px;
}

#nav{
    height: 90px;
    width: 100%;
    /* background-color: burlywood; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav h2{
    /* background-color: blue; */
    height: 100%;
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 1.4em;
    font-weight: 600;
}

#nav h2:nth-last-child(1){
    width: 10%;
    padding-right: 60px;
    font-size: 2em;
    font-weight: 200;
}

#nav h1{
    /* background-color: blue; */
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Monument';
    font-size: 2.5em;
    letter-spacing: -3px;
}

#center{
    height: 90%;
    width: 100%;
    padding: 3.5vw;
    position: relative;
}

#center #content{
    height: 100%;
    width: 100%;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 55%;
    width: 100%;
    position: absolute;
    padding: 3vw;
    bottom: 0;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 25px;
    
}

#over1 h1{
    font-family: Monument;
    font-size: 3vw;
}

#over1 h2{
    padding: 2vw 2vw;
    font-size: 1vw;
    border-radius: 50%;
    border: 2.5px solid white;
    


}


#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1.5vw 0; 

}

#over2 h4{
    font-size: 1.7em;
    color: white;
}

#over2 img{
    height: 2.5vw;
}