*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Questrial;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    /* background-color: rgb(250, 244, 236); */
    background: linear-gradient(to left , rgb(255, 214, 172), rgb(241, 235, 228)  );
}

#main{
    height: 100%;
    width: 100%;
    padding-top: 0.5px;
}

#nav{
    height: 90px;
    width: 100%;
    /* background-color: burlywood; */
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav h2{
    /* background-color: blue; */
    height: 100%;
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid black;
    font-size: 1.4em;
    font-weight: 600;
}

#nav h2:nth-last-child(1){
    width: 10%;
    padding-right: 60px;
    font-size: 2em;
    font-weight: 200;
}

#nav h1{
    /* background-color: blue; */
    height: 100%;
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Monument';
    font-size: 2.5em;
    letter-spacing: -3px;
}

#center{
    height: 90%;
    width: 100%;
    padding: 3.5vw;
    position: relative;
}

#center #content{
    height: 100%;
    width: 100%;
    position: relative;
}

#content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    height: 55%;
    width: 100%;
    position: absolute;
    padding: 3vw;
    bottom: 0;
}

#over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin-bottom: 25px;
    
}

#over1 h1{
    font-family: Monument;
    font-size: 3vw;
}

#over1 h2{
    padding: 2vw 2vw;
    font-size: 1vw;
    border-radius: 50%;
    border: 2.5px solid white;
    


}


#over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    padding: 1.5vw 0; 

}

#over2 h4{
    font-size: 1.7em;
    color: white;
}

#over2 img{
    height: 2.5vw;
}

#scroll{
    height: 40vh;
    width: 100%;
    padding: 5px;
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
}

#scroll .container{
    height: 100%;
    width: 120%;
    display: inline-block;
    animation-name: anime;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

#scroll img{
    /* display: none; */
    height: 92%;
    width: 15%;
    margin: 1vw;
    border-radius: 50%;
    object-fit: cover;
    object-position: 10%;

}

@keyframes anime{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}

#alphabets{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    margin-top: 5vw;
}

#alphabets h5{
    font-size: 1.5vw;
    font-style: italic;
    font-weight: 500;
    border-bottom: 1px solid black;
    letter-spacing: 4px;
    margin-right: 20px;
}
#alphabets h6{
    font-size: 1vw;
    font-style: italic;
    font-weight: 500;
    padding: 0.6vw 0.7vw;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0);
    transition: all ease 0.5s;
    cursor: pointer;
}
#alphabets h6:hover{
        border: 1px solid rgb(0, 0, 0);

}

#page2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3vw 7vw;
    gap: 4vw;
    
}

#page2 #page2-part1{
    height: 100%;
    width: 50%;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1523944339743-0fe06f079939?q=80&w=715&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

#page2 #page2-part2{
    height: 100%;
    width:  40%;
    align-self: flex-start;
    padding-left: 60px;
}



#page2 #page2-part2 img{
    height: 80%;
    object-fit: cover;
    width: 85%;
}

#text{
    display: flex;
    justify-content: space-between;
    padding-right: 15%;
    margin-bottom: 20px;
}

#text-1{
    /* background-color: red; */
    height: 10vh;
    width: 10vw;
    font-size: 27px;
    font-weight: 600;
    padding-top: 30px;
}



#text-2{
    height: 10vw;
    width: 15vw;
    padding-left: 11%;
    padding-top: 30px;
    font-size: 16px;
    font-weight: 500;
    /* text-align: left; */
}

#page3{
    height: 100%;
    width: 100%;
    padding: 3vw 6vw;

}

#page3>h1{
    font-size: 3.5em;
    text-align: center;
    font-family: Monument;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 8vh;
}


.elem{
    /* background-color: red; */
    width: 100%;
    height: 16vh;
    border-top: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 3vw;
    position: relative;
}

.elem h4{
    text-transform: uppercase;
    width: 5%;
    font-weight: 600;
    margin-bottom: 50px;
}

.elem #elem-part2{
    width: 50%;
    /* background-color: red; */
}

.elem #elem-part2 h1{
    font-size: 3em;
    font-weight: 400;
    margin-bottom: 6px;
}

.elem #elem-part2 h5{
    font-size: 0.9em;
    text-transform: uppercase;
}

.elem img{
    height: 140px;
    width: 140px;
    object-fit: cover;
    position: absolute;
    border-radius: 50%;
    left: 20%;
    opacity: 0;
    transition: all ease-in-out 0.5s;
}



.elem img:hover{
    opacity: 1;
    transition: all ease-in-out 0.5s;
}



.elem:nth-last-child(1){
    border-bottom: 2px solid black;
}